/* CSS Document */

/*header navbar*/
.navbar-header{padding-left:180px}
.navbar-nav{padding-right:150px}
.navbar-size{font-size:9px}
/*logobar*/
.logoBar{height:100px;}
/*footer*/
.footer{text-align:center;background-color:#000000;line-heighr:24px;padding:50px 0;}
.footer i{font-style:normal;margin:0 5px;}
.footer a{color:#FFFFFF;}
.footer a:hover{color:#666666;}
.imgactfont{font:bold 28px "ו"}
/*login*/
.loginInputPosition{padding-left:400px;}
.loginInputSize{width:50%;}
/*des_text*/
.dsc_text_position
{
position:absolute;
left:700px;
}
.size{border:grey solid 1px;padding:12px 24px;margin:10px}
.show{
position:absolute;
top:920px;
}
/*shopcar*/
.shoppingCart{padding-top:10px;}
.shopping_item{border:#ccc solid 2px;}
.shopping_tit{height:31px;background-color:#CCCCCC;margin-top:0}
.padding_shop{padding:25px 30px;}
.table-width{width:900px;}
