<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>轻衣首页</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--header navbar-->
	<div class="navbar navbar-default navbar-size" role="navigation">
		<div class="navbar-header leftArea">
			<a href="" class="navbar-brand">你好，欢迎光临轻衣！</a>
		</div>
		<ul class="nav navbar-nav rightArea">
				<li class="dropdown">
					<a href="" data-toggle="dropdown" class="dropdown-toggle">江苏<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A-G</label>
						<li id="A"><a href="">北京 长沙 重庆 成都 福州 广州 贵阳</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H-L</label>
						<li><a href="">哈尔滨 杭州 合肥 济南 昆明</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M-T</label>
						<li><a href="">南昌 南宁 南京 宁波 青岛 三亚 上海 沈阳 深圳 石家庄 苏州 太原 天津</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;W-Z</label>
						<li><a href="">武汉 厦门 西安 郑州 中山</a></li>
					</ul>
				</li>
				<li><a href="##">[请登录]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">[注册]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的订单&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的收藏&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">在线客服&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">关于我们</a></li>
		</ul>
	</div>
	<!--logoBar-->
	<div class="logoBar">
		<div class="comWidth">
			<!--logo-->
			<div class="logo leftArea">
				<h1><b>轻衣</b></h1>
				<h6>共享品质生活</h6>
			</div>
			<!--搜索框-->
			<p>&nbsp;</p>
			<form class="form-inline rightArea" role="form">
				<div class="form-group">
				  <label class="sr-only" for="searchText">文本框</label>
				  <input type="text" class="form-control" id="searchText" placeholder="请输入你想购买的商品">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
				&nbsp;&nbsp;&nbsp;
				<a href="shopcar.html"><img class="img-rounded" src="images/1.png" alt="shopcar"></a>
			</form>	
		</div>
	</div>
	<!--navbar-->
	<div class="navbar navbar-default navbar-inverse" role="navigation">
		<ul class="nav navbar-nav navbar-header">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					全部商品分类
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp女装</label>
					<li><a href="screen.html"> 上装 裙装 下装</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp美妆</label>
					<li><a href="screen.html">护肤品 彩妆 护理 工具</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp鞋包</label>
					<li><a href="screen.html">单鞋 休闲鞋<br>
					钱包 手提包</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp图书</label>
					<li><a href="screen.html">文学  实用</a></li>
			  </ul>
			</li>
			<li class="active"><a href="index.html">首页</a></li>
			<li><a href="clothes.html">女装</a></li>
			<li><a href="makeup.html">美妆</a></li>
			<li><a href="shoe.html">鞋包</a></li>
			<li><a href="book.html">图书</a></li>
		</ul>
	</div>
	<!--position item-->
	<div class="comWidth">
		<h6>首页&nbsp;&nbsp;>女装&nbsp;&nbsp;>套装&nbsp;&nbsp;>&nbsp;&nbsp;白色网纱修身连衣裙</h6>
	</div>
	<!--描述-->
	<div class="comWidth">
		<div class="leftArea dsc_img_position">
			<img src="images/whiteSkirt1.jpg" alt="白色网纱修身连衣裙">
			<br>
			<img src="images/whiteSkirt2.jpg" alt="">&nbsp;&nbsp;<img src="images/whiteSkirt3.jpg" alt="">&nbsp;&nbsp;<img src="images/whiteSkirt4.jpg" alt="">&nbsp;&nbsp;<img src="images/whiteSkirt5.jpg" alt="">&nbsp;&nbsp;<img src="images/whiteSkirt6.jpg" alt="">&nbsp;&nbsp;<img src="images/whiteSkirt7.jpg" alt="">
			<h6>商品编码：000001</h6>
		</div>
		<div class="dsc_text_position">
			<h4>白色网纱修身连衣裙</h4>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1>￥308</h1>
			<br/>
			<h6>运费：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/icon_free_deliver.jpg" alt="icon_free_deliver"></h6>
			<br>
			<h6>尺码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="size">S</span><span class="size">M</span><span class="size">L</span><span class="size">XL</span></h6>
			<br/>
			<h6>数量：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>1</b></h6>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn-lg btn btn-default">加入购物车</button>
			<br><br><br><br><br><br><br><br><br><br>
			<h4>商品放心挑    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   |   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  轻衣七天内无理由退货（含运费）</h4>
		</div>
	</div>
	<!--商品展示-->
	<div class="comWidth">
		<div class="show">
			<h4>商品尺码&nbsp;&nbsp;SIZE</h4>
			<h5>TIPS:</h5>                                                      
			<p>
				1. 选购时，请综合参考尺码表中各项参数，有助于你选择到更合适的尺码。
				<br>
				2.（只适用服装）平铺测量自己的合身服装尺寸作参考，对比选购更准确！
				<br>
				3. 请放心挑选尺码，唯品7天退货无忧替你保驾护航。
			</p>
			<h5>尺码对照表</h5>
			<div class="table-responsive">
			   <table class="table table-bordered">
			   <thead>
				 <tr>
				   <th>尺码</th>
				   <th>号型</th>
				   <th>肩宽</th>
				   <th>胸围</th>
				   <th>袖长</th>
				   <th>腰围</th>
				   <th>裙长</th>
				 </tr>
			   </thead>
			   <tbody>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
			   </tbody>
			 </table>
			</div>
			 <h4>商品详情</h4>
			 <div class="table-responsive">
			   <table class="table table-bordered">
			   <thead>
				 <tr>
				   <th>尺码</th>
				   <th>号型</th>
				   <th>肩宽</th>
				   <th>胸围</th>
				   <th>袖长</th>
				   <th>腰围</th>
				   <th>裙长</th>
				 </tr>
			   </thead>
			   <tbody>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
				 <tr>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				   <td>表格单元格</td>
				 </tr>
			   </tbody>
			 </table>
			</div>
			 <h4>商品展示</h4>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/imageshow.jpg" alt="imageshow">
			</div>
		</div>
	</div>
	<!--footer-->

	<!-- 引用js文件 -->
	<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>