<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>轻衣首页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="comWidth">
		<h1><b>轻衣</b></h1>
		<h6>共享品质生活</h6>
	</div>
	<!--登录部分-->
	<div class="loginInputPosition">
		<div class="comWidth">
			<h3>欢迎登录</h3>
			<form role="form">
				<div class="form-group">
					<label for="username">用户名</label>
					<input type="text" class="form-control loginInputSize" id="username" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="password">密码</label>
					<input type="password" class="form-control loginInputSize" id="password" placeholder="Enter password">
				</div>
				<div class="checkbox">
					<label>
					<input type="checkbox" value="">
					记住密码
					</label>
				</div>
				<button type="button" class="btn btn-default">登录</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="reg.html"><button type="button" class="btn btn-default">返回注册</button></a>
			</form>
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	<!--footer-->
	<div class="footer">
		<p><a href="">联系客服</a>&nbsp;|&nbsp;<a href="">购物指南</a>&nbsp;|&nbsp;<a href="">支付方式</a>&nbsp;|&nbsp;<a href="">关于我们</a>&nbsp;&nbsp;					客服热线：18796283298</p>
		<p>Copyright 2016&nbsp;|&nbsp;Made by Kayla</p>
	</div>
	<!-- 引用js文件 -->
	<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>