<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>轻衣首页</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
  	<div class="comWidth">
		<h1><b>轻衣</b></h1>
		<h6>共享品质生活</h6>
    </div>
	  <!--注册部分-->
	<div class="loginInputPosition">
		<div class="comWidth">
			<h3>欢迎注册</h3>
			<form role="form" action="connDb.jsp" method="post">
				<div class="form-group">
					<label for="username">用户名</label>
					<input type="text" name="username" class="form-control loginInputSize" id="username" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="password">设置密码</label>
					<input type="password" name="password" class="form-control loginInputSize" id="password" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label for="password">确认密码</label>
					<input type="password" class="form-control loginInputSize" id="ispassword" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label for="password">联系电话</label>
					<input type="password" class="form-control loginInputSize" id="tel" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label for="password">验证码</label>
					<input type="password" class="form-control loginInputSize" id="isornot" placeholder="Enter password">
				</div>
				<div class="checkbox">
					<label>
					<input type="checkbox" value="">
					我同意什么条款
					</label>
				</div>
				<button type="submit" class="btn btn-default">注册</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="login.html"><button type="button" class="btn btn-default">直接登录</button></a>
			</form>
		</div>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<!--footer-->
	<div class="footer">
		<p><a href="">联系客服</a>&nbsp;|&nbsp;<a href="">购物指南</a>&nbsp;|&nbsp;<a href="">支付方式</a>&nbsp;|&nbsp;<a href="">关于我们</a>&nbsp;&nbsp;					客服热线：18796283298</p>
		<p>Copyright 2016&nbsp;|&nbsp;Made by Kayla</p>
	</div>
</body>
</html>