<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>轻衣首页</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--header navbar-->
	<div class="navbar navbar-default navbar-size" role="navigation">
		<div class="navbar-header leftArea">
			<a href="" class="navbar-brand">你好，欢迎光临轻衣！</a>
		</div>
		<ul class="nav navbar-nav rightArea">
				<li class="dropdown">
					<a href="" data-toggle="dropdown" class="dropdown-toggle">江苏<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A-G</label>
						<li id="A"><a href="">北京 长沙 重庆 成都 福州 广州 贵阳</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H-L</label>
						<li><a href="">哈尔滨 杭州 合肥 济南 昆明</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M-T</label>
						<li><a href="">南昌 南宁 南京 宁波 青岛 三亚 上海 沈阳 深圳 石家庄 苏州 太原 天津</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;W-Z</label>
						<li><a href="">武汉 厦门 西安 郑州 中山</a></li>
					</ul>
				</li>
				<li><a href="##">[请登录]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">[注册]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的订单&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的收藏&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">在线客服&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">关于我们</a></li>
		</ul>
	</div>
	<!--logoBar-->
	<div class="logoBar">
		<div class="comWidth">
			<!--logo-->
			<div class="logo leftArea">
				<h1><b>轻衣</b></h1>
				<h6>共享品质生活</h6>
			</div>
			<!--搜索框-->
			<p>&nbsp;</p>
			<form class="form-inline rightArea" role="form">
				<div class="form-group">
				  <label class="sr-only" for="searchText">文本框</label>
				  <input type="text" class="form-control" id="searchText" placeholder="请输入你想购买的商品">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
				&nbsp;&nbsp;&nbsp;
				<a href="shopcar.html"><img class="img-rounded" src="images/1.png" alt="shopcar"></a>
			</form>	
		</div>
	</div>
	<!--navbar-->
	<div class="navbar navbar-default navbar-inverse" role="navigation">
		<ul class="nav navbar-nav navbar-header">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					全部商品分类
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp女装</label>
					<li><a href="screen.html"> 上装 裙装 下装</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp美妆</label>
					<li><a href="screen.html">护肤品 彩妆 护理 工具</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp鞋包</label>
					<li><a href="screen.html">单鞋 休闲鞋<br>
					钱包 手提包</a></li>
					<li class="divider"></li>
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp图书</label>
					<li><a href="screen.html">文学  实用</a></li>
				 </ul>
			</li>
			<li class="active"><a href="index.html">首页</a></li>
			<li><a href="clothes.html">女装</a></li>
			<li><a href="makeup.html">美妆</a></li>
			<li><a href="shoe.html">鞋包</a></li>
			<li><a href="book.html">图书</a></li>
		</ul>
	</div>
<!--位置栏-->
<!--表格-->
<div class="comWidth">
当前位置：所有分类>女装
<p>&nbsp;</p>
<table class="table">
	<tr>
		<td>女装</td>
		<td>雪纺衫</td>
	</tr>
	<tr>
		<td>颜色</td>
		<td>全部</td>
		<td>红色</td>
		<td>白色</td>
		<td>黑色</td>
		<td>粉色</td>
		<td>灰色</td>
		<td>蓝色</td>
	</tr>
</table>
<table class="table">
	<tr>
		<td bgcolor="#00CC99">全部商品</td>
	</tr>
	<tr>
		<td>默认<img src="images/]@DJQB~W)7`]75GSY{~ILEM.png" alt=""></td>
		<td>销量<img src="images/]@DJQB~W)7`]75GSY{~ILEM.png" alt=""></td>
		<td>好评<img src="images/]@DJQB~W)7`]75GSY{~ILEM.png" alt=""></td>
		<td>最新<img src="images/[@TT}1_}M}T7PG0}4~JFNEM.png" alt=""></td>
		<td>价格<img src="images/[@TT}1_}M}T7PG0}4~JFNEM.png" alt=""></td>
	</tr>
</table>
</div>
<!--服装展示部分 五栏栅格系统-->
<div class="comWidth">
	<div class="container">
		<div class="row">
		<h2>&nbsp;</h2>
			<p>&nbsp;</p>
					<div class="col-md-2">
			  <p><a href="description.html"><img src="images/白色T恤.jpg" alt="..." class="image"></a></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>搞怪猫咪 49元 </p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>时尚T恤</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>清新短袖</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
						<div class="col-md-2">
			  <p><img src="images/2.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
			</div>
			<!--第二行-->
					<div class="row">
		<h2>&nbsp;</h2>
			<p>&nbsp;</p>
					<div class="col-md-2">
			  <p><img src="images/白色T恤.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>搞怪猫咪 49元 </p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>时尚T恤</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>清新短袖</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
						<div class="col-md-2">
			  <p><img src="images/2.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
			</div>
			<!--第三行-->
					<div class="row">
		<h2>&nbsp;</h2>
			<p>&nbsp;</p>
					<div class="col-md-2">
			  <p><img src="images/白色T恤.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>搞怪猫咪 49元 </p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>时尚T恤</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>清新短袖</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
						<div class="col-md-2">
			  <p><img src="images/2.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
			</div>
			<!--4-->
					<div class="row">
		<h2>&nbsp;</h2>
			<p>&nbsp;</p>
					<div class="col-md-2">
			  <p><img src="images/白色T恤.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>搞怪猫咪 49元 </p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>时尚T恤</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>清新短袖</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
						<div class="col-md-2">
			  <p><img src="images/2.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
			</div>
			<!--5-->
					<div class="row">
		<h2>&nbsp;</h2>
			<p>&nbsp;</p>
					<div class="col-md-2">
			  <p><img src="images/白色T恤.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>搞怪猫咪 49元 </p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>时尚T恤</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>清新短袖</p>
			</div>
			<div class="col-md-2">
			  <p><img src="images/蓝色T恤男.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
						<div class="col-md-2">
			  <p><img src="images/2.jpg" alt="..." class="image"></p><h2>&nbsp;</h2>
			<p>&nbsp;</p>
			  <p>防晒外衣</p>
			</div>
			</div>
			<!--分行-->
		</div>
	</div>
	<hr/>

	<!--footer-->
	<div class="footer">
		<p><a href="">联系客服</a><i>|</i><a href="">购物指南</a><i>|</i><a href="">支付方式</a><i>|</i><a href="">关于我们</a><i></i>客服热线：18796283298</p>
		<p>Copyright 2016<i>|</i>Made by Kayla</p>
	</div>
	<!-- 引用js文件 -->
	<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
