<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>轻衣首页</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
	<!--header navbar-->
	<div class="navbar navbar-default navbar-size" role="navigation">
		<div class="navbar-header leftArea">
			<a href="" class="navbar-brand">你好，欢迎光临轻衣！</a>
		</div>
		<ul class="nav navbar-nav rightArea">
				<li class="dropdown">
					<a href="" data-toggle="dropdown" class="dropdown-toggle">江苏<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A-G</label>
						<li id="A"><a href="">北京 长沙 重庆 成都 福州 广州 贵阳</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H-L</label>
						<li><a href="">哈尔滨 杭州 合肥 济南 昆明</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M-T</label>
						<li><a href="">南昌 南宁 南京 宁波 青岛 三亚 上海 沈阳 深圳 石家庄 苏州 太原 天津</a></li>
						<hr>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;W-Z</label>
						<li><a href="">武汉 厦门 西安 郑州 中山</a></li>
					</ul>
				</li>
				<li><a href="##">[请登录]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">[注册]&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的订单&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">我的收藏&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">在线客服&nbsp&nbsp&nbsp&nbsp&nbsp<em>|</em></a></li>
				<li><a href="##">关于我们</a></li>
		</ul>
	</div>
	<!--logoBar-->
	<div class="logoBar">
		<div class="comWidth">
			<!--logo-->
			<div class="logo leftArea">
				<h1><b>轻衣</b></h1>
				<h6>共享品质生活</h6>
			</div>
			<!--搜索框-->
			<p>&nbsp;</p>
			<div class="rightArea">
				<img src="shopcar.jsp" alt="shopcar">
			</div>
		</div>
	</div>
	<hr>
	<div class="comWidth">
		<h3>购物袋</h3>
	<div class="shoppingCart comWidth">
		<div class="shopping_item">
			<h3 class="shopping_tit">商品信息</h3>
			<div class="shopping_cont padding_shop">
				<div class="comWidth">
					<div class="table-responsive">
					   <table class="table table-width table-bordered">
					   <thead>
						 <tr>
						   <th>商品</th>
						   <th>单价</th>
						   <th>数量</th>
						   <th>小计</th>
						   <th>操作</th>
						 </tr>
					   </thead>
					   <tbody>
						 <tr>
						   <td>轻衣女装</td>  
						   <td>￥166</td>
						   <td>1</td>
						   <td>￥166</td>
						   <td>删除</td>
						 </tr>
					   </tbody>
					 </table>
					 <table class="table table-width table-bordered">
					   <tbody>
						 <tr>
						   <td>共一件商品 商品金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥166</td>
						 </tr>
						 <tr>
						   <td>总金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ￥166</td>
						 </tr>
						 <tr>
						   <td><button type="button" class="btn btn-primary">立即结算</button></td>
						 </tr>
					   </tbody>
					 </table>
				</div>
			</div>
		</div>
	</div>
	<div class="shoppingCart comWidth">
		<div class="shopping_item">
			<h3 class="shopping_tit">收货信息</h3>
			<div class="shopping_cont padding_shop">
				<div class="comWidth">
					<form role="form form-inline">
						<div class="form-group">
							<label for="password">收货地址</label>
							<select class="form-control loginInputSize"> 
							  <option>1</option> 
							  <option>2</option> 
							  <option>3</option> 
							  <option>4</option> 
							  <option>5</option> 
							  </select>
						 </div>
						<div class="form-group">
							<label for="password">详细地址</label>
							<input type="password" class="form-control loginInputSize" id="password" placeholder="Enter password">
						</div>
						<div class="form-group">
							<label for="password">收货人</label>
							<input type="password" class="form-control loginInputSize" id="password" placeholder="Enter password">
						</div>
						<div class="form-group">
							<label for="password">手机</label>
							<input type="password" class="form-control loginInputSize" id="password" placeholder="Enter password">
						</div>
						<button type="button" class="btn btn-primary btn-lg">确认收货地址</button>&nbsp;&nbsp;&nbsp;&nbsp;
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="shoppingCart comWidth">
		<div class="shopping_item">
			<h3 class="shopping_tit">支付方式</h3>
			<div class="shopping_cont padding_shop">
				<div class="comWidth">
					<form role="form form-inline">
						<div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="love" checked>
						  微信支付&nbsp;&nbsp;&nbsp;&nbsp;用微信扫一扫就能支付
						</label>
					  </div>
						<div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="hate">
						  货到付款&nbsp;&nbsp;&nbsp;&nbsp;送货上门后再付款，使用现金或刷银行卡
						</label>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="shoppingCart comWidth">
		<div class="shopping_item">
			<h3 class="shopping_tit">发票信息</h3>
			<div class="shopping_cont padding_shop">
				<div class="comWidth">
					<form role="form form-inline">
						<div class="checkbox">
						<label>
						  <input type="checkbox" value="">
						  需要发票
						</label>
					  </div>
					  <div class="form-group">
							<label for="password">发票类型</label>
							<select class="form-control loginInputSize"> 
							  <option>1</option> 
							  <option>2</option> 
							  <option>3</option> 
							  <option>4</option> 
							  <option>5</option> 
							  </select>
						 </div>
						 <button type="button" class="btn btn-primary btn-sm">保存</button>
						 <button type="button" class="btn btn-default btn-sm">取消</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->

	<!--引入js文件-->
	<script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
